Итоговое задание  №4

In [10]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()

data = spark.read.csv(
    'web_server_logs.csv',
    inferSchema=True, header=True)

# 1. Сгруппируйте данные по IP и посчитайте количество запросов для каждого IP, выводим 10 самых активных IP. Формат вывода, как на скрине ниже.
print("Top 10 active IP adresses:")
grouped_by_ip_data = data.groupBy('ip').count().withColumnRenamed("count", "reqest_count").show(10)

# 2. Сгруппируйте данные по HTTP-методу и посчитайте количество запросов для каждого метода.
print("Reqest count by HTTP metod:")
grouped_by_method_data = data.groupBy('method').count().withColumnRenamed("count", "method_count").show(10)

# 3. Профильтруйте и посчитайте количество запросов с кодом ответа 404.
filtered_data = data.filter(data["response_code"] == 404 ).count()
print( f"Number of 404 response codes: {filtered_data}")

# 4. Сгруппируйте данные по дате и просуммируйте размер ответов, сортируйте по дате.
data_with_casted_date = data.withColumn("timestamp", data["timestamp"].cast("date")).withColumnRenamed("timestamp", "date")
print("Total response size by day:")
grouped_by_date_data = data_with_casted_date.groupBy('date').sum("response_size").withColumnRenamed("sum(response_size)", "total_response_size").orderBy('date').show()
spark.stop()

Top 10 active IP adresses:
+---------------+------------+
|             ip|reqest_count|
+---------------+------------+
|203.189.169.101|           1|
| 108.160.30.195|           1|
| 138.36.179.146|           1|
|110.249.237.206|           1|
|  142.22.91.217|           1|
|  165.34.55.125|           1|
|126.169.251.180|           1|
|   77.46.17.131|           1|
|   88.0.245.242|           1|
| 107.159.177.70|           1|
+---------------+------------+
only showing top 10 rows

Reqest count by HTTP metod:
+------+------------+
|method|method_count|
+------+------------+
|  POST|       25043|
|DELETE|       25035|
|   PUT|       24828|
|   GET|       25094|
+------+------------+

Number of 404 response codes: 25022
Total response size by day:
+----------+-------------------+
|      date|total_response_size|
+----------+-------------------+
|2024-01-01|            2080350|
|2024-01-02|            2199699|
|2024-01-03|            2055936|
|2024-01-04|            1977906|
|2024-01-05|            2134688|
|2024-01-06|            2169685|
|2024-01-07|            2088871|
|2024-01-08|            2087803|
|2024-01-09|            2092943|
|2024-01-10|            2097854|
|2024-01-11|            1953070|
|2024-01-12|            2016283|
|2024-01-13|            2129842|
|2024-01-14|            2000946|
|2024-01-15|            2123943|
|2024-01-16|            2070921|
|2024-01-17|            2036774|
|2024-01-18|            2175792|
|2024-01-19|            1951587|
|2024-01-20|            1978586|
+----------+-------------------+
only showing top 20 rows